# Project 2 Data sources:

## Observed dependent variable:
* Drug-induced mortality per county for 2016
* reach: opioid-induced mortality per county for 2016
* double-reach: opioid-induced mortality per county over 5 years, 2011 - 2016

## Independent variables/regressors:

### Medical:
* Age of electronic PDMP per state
* Number of methadone clinics per county
* Prescribing map -> rate of opioid prescriptions per 100 US residents

### Legislative:
* Number of bills per state that contain the word 'opioid'

### Economic:
* Poverty
* Percent unemployment
* Median salary

### Demographic:
* Median age
* Percentage minority
* Education - percentage high school grad or higher

Websites for data sources:
* https://wonder.cdc.gov/
* https://www.bls.gov/lau/data.htm
* https://censusreporter.org/

### Get list of counties

First, get a list of all of the counties along with their states and INCITS from this page: https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents

In [20]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import pickle
import time

from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents"
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, "html5lib")

In [3]:
table = soup.select_one('table[class*="wikitable"]')
rows = [row for row in table.find_all("tr")]

In [4]:
# Remove the first <tr> element, which is the header row for the wikitable.
rows = rows[1:]

county_df = pd.DataFrame(columns=['INCITS', 'county_name', 'state'])

for row in rows:
    elements = row.find_all("td")
    elements = [element.text.strip() for element in elements]
    county_df = county_df.append({'INCITS': elements[0], 'county_name': elements[1], 'state': elements[2]}, ignore_index=True)

In [5]:
county_df.head()

  INCITS     county_name    state
0  01001  Autauga County  Alabama
1  01003  Baldwin County  Alabama
2  01005  Barbour County  Alabama
3  01007     Bibb County  Alabama
4  01009   Blount County  Alabama

In [6]:
county_df['state'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaiʻi',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'U.S. Minor Outlying Islands', 'Utah', 'Vermont',
       'Virgin Islands (U.S.)', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [7]:
# There are 'states' included that are not actually states. Let's make a list of them.
not_states = ['American Samoa', 'Guam', 'Northern Mariana Islands', 'Puerto Rico', 'U.S. Minor Outlying Islands', 'Virgin Islands (U.S.)']

In [8]:
# Now, let's remove all of the entries for these 'not states' from the data frame.
county_df = county_df[~county_df.state.isin(not_states)]

In [9]:
# Confirm that there are only states and the District of Columbia left.

county_df['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaiʻi', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [10]:
# save county dataframe to pickle.
with open("county_df.pkl", "wb") as picklefile:
    pickle.dump(county_df, picklefile)

In [31]:
county_df[county_df.INCITS == "02270"]
# Per google, Kusilvak Census area changed its INCITS to 02158 in 2015.
# Will need to change this manually; wikipedia was out of date.

   INCITS               county_name   state
92  02270  Kusilvak Census Area[10]  Alaska

### Economic and Demograhic data

Let's scraping economic and demographic data from census reporter; this website provides data at a state and county level based on the ACS (American Communities Survey) 2016 5-year data, which is provided by the US Census.

The more in-depth way to do this would be to figure out how to use the US Census API to get the 6 variables I specified, because with the US Census API you can fully specify what dataset to query and what parameters to return, but as an intermediate step I'm going to scrape CensusReporter.com first since those pages easier to access and scrape.

In [12]:
# For the census reporter page, each county page is structured so that the stats are located in spans with either the class value or name.

def get_stats_from_soup(incit, soup):
    row_dict = {'INCITS': incit}
    stats = soup.select('a[class*=stat]')
    for stat in stats:
        val = stat.select_one('span[class="value"]').text
        whitespace = r'[\s\t\n]*'
        val = re.sub(whitespace, "", val) # There's a lot of weird whitespace in the class=value element, so strip all of it out.
    
        val = val.split("±")[0] # A few of these stats have +/- ranges on them; we only want the main value, so split and get the first element.
        regex = r'([a-zA-Z\$,\%])*'
        val = re.sub(regex, "", val) # Strip out all the letters, dollar signs, commas, and percentage signs as well.
    
        name = stat.select_one('span[class="name"]').text.strip()
    
        if name in census_reporter_dict:
            row_dict[census_reporter_dict[name]] = val
    
    return row_dict

In [18]:
census_reporter_dict = ({"Median age": "median_age", 
                         "Median household income": "median_hh_income", 
                         "Persons below poverty line": "poverty_percent",
                         "High school grad or higher": "hs_percent"
                        })

cols = ['INCITS']
cols.extend(list(census_reporter_dict.values()))
census_reporter_df = pd.DataFrame(columns = cols)

In [29]:
%%time
census_reporter_query = "https://censusreporter.org/profiles/05000US{}"

mini_county_df = county_df.iloc[0:100]

for incit in mini_county_df['INCITS']:
    response = requests.get(census_reporter_query.format(incit))
    page = response.text
    soup = BeautifulSoup(page, "html5lib")
    census_reporter_df = census_reporter_df.append(get_stats_from_soup(incit, soup), ignore_index=True)
    time.sleep(1)

CPU times: user 15.8 s, sys: 1.47 s, total: 17.3 s
Wall time: 4min 57s

In [30]:
census_reporter_df.iloc[90:]

    INCITS median_age median_hh_income poverty_percent hs_percent
90   01001       37.8            53099            12.3       87.6
91   01003       42.4            56732            11.4       89.9
92   01005       38.7            33956            26.4       73.8
93   01007       40.2            39776            16.5       80.7
94   01009       40.8            46212            16.5         80
95   01011       39.2            29335            26.9       66.6
96   01013       40.6            34315            25.7       81.1
97   01015       39.1            41687            16.3       82.2
98   01017       43.1            36027            20.3       80.3
99   01019       45.7            38925            16.5       81.3
100  01001       37.8            53099            12.3       87.6
101  01003       42.4            56732            11.4       89.9
102  01005       38.7            33956            26.4       73.8
103  01007       40.2            39776            16.5       80.7
104  01009       40.8            46212            16.5         80
105  01011       39.2            29335            26.9       66.6
106  01013       40.6            34315            25.7       81.1
107  01015       39.1            41687            16.3       82.2
108  01017       43.1            36027            20.3       80.3
109  01019       45.7            38925            16.5       81.3
110  01001       37.8            53099            12.3       87.6
111  01003       42.4            56732            11.4       89.9
112  01005       38.7            33956            26.4       73.8
113  01007       40.2            39776            16.5       80.7
114  01009       40.8            46212            16.5         80
115  01011       39.2            29335            26.9       66.6
116  01013       40.6            34315            25.7       81.1
117  01015       39.1            41687            16.3       82.2
118  01017       43.1            36027            20.3       80.3
119  01019       45.7            38925            16.5       81.3
..     ...        ...              ...             ...        ...
180  02050       26.8            53296            26.6       80.9
181  02060       40.7            88000             7.3       92.6
182  02068       37.3            81302            11.3       96.2
183  02070       29.7            56055            16.5       86.8
184  02090       30.6            77328             9.9       95.8
185  02100       44.6            53125             5.3       95.5
186  02105       48.4            54091            12.4       90.6
187  02110       37.5            87436             7.4       95.6
188  02122       40.5            64891              11       92.7
189  02130       39.2            64162            10.8         92
190  02150       32.7            73068             9.2       90.7
191  02164       31.9            43864            18.8       86.4
192  02170       34.2            69332             9.7       94.2
193  02180       27.7            51563              27       84.9
194  02185       33.8            72027            11.2       88.4
195  02188       26.3            61341            24.5       79.1
196  02195       40.8            63940             9.3       92.4
197  02198       40.5            51887            14.9       90.5
198  02220       39.1            70160             9.1       92.7
199  02230       44.1            64853             5.3       96.5
200  02240       36.4            63713            13.6       90.8
201  02261       37.6            82511             8.5       92.8
202  02270        NaN              NaN             NaN        NaN
203  02275       48.8            52986              10       88.1
204  02282       40.5            66875             7.9       94.5
205  02290       35.2            38451            23.5       82.9
206  04001       34.6            34685            33.4       81.6
207  04003       40.8            45508            22.6       86.6
208  04005       30.9            55091              18       89.6
209  04007       48.9            40593            21.2       84.3

[120 rows x 5 columns]

In [11]:
# Let's pull the relevant parameters for Barbour County.
# For economic parameters, I want % poverty, % unemployment, and median salary.
# For demographics, I want median age, percentage minority, and education (percentage high school grad)
# We can go ahead and print all of the stats within any element that belongs to a class w/ the word 'stat'.
    
stats = soup.select('a[class*="stat"]')
for stat in stats:
    val = stat.select_one('span[class="value"]').text
    whitespace = r'[\s\t\n]*'
    val = re.sub(whitespace, "", val) # There's a lot of weird whitespace in the class=value element, so strip all of it out.
    
    name = stat.select_one('span[class="name"]').text.strip()
    
    print("{} is {}".format(name, val))
    
    val2 = val.split("±")[0]
    regex = r'([a-zA-Z\$,\%])*'
    print(re.sub(regex, "", val2))

Median age is 38.7±0.6
38.7
Per capita income is $17,249±$822
17249
Median household income is $33,956±$2,655
33956
Persons below poverty line is 26.4%±2.7%(6,235±636)
26.4
Mean travel time to work is 23.7minutes±1.7(205,890±17,933)
23.7
Number of households is 9,122±286
9122
Persons per household is 2.6±0.1(23,682±244)
2.6
Women 15-50 who gave birth during past year is 5%±1.8%(252±92)
5
Number of housing units is 11,802±101
11802
Median value of owner-occupied housing units is $90,300±$7,258
90300
Moved since previous year is 12.4%±1.4%(3,262±373.4)
12.4
High school grad or higher is 73.8%±3.1%(13,563±573.2)
73.8
Bachelor's degree or higher is 12.9%±1.5%(2,366±270.8)
12.9
Persons with language other than English spoken at home is N/A
/
Foreign-born population is 2.9%±0.3%(761±82)
2.9
Population with veteran status is 8.4%±0.8%(1,751±173)
8.4
Total veterans is 1,751
1751

In [32]:
def get_stats_from_soup(incit, soup):
    row_dict = {'INCITS': incit}
    stats = soup.select('a[class*=stat]')
    for stat in stats:
        val = stat.select_one('span[class="value"]').text
        whitespace = r'[\s\t\n]*'
        val = re.sub(whitespace, "", val) # There's a lot of weird whitespace in the class=value element, so strip all of it out.
    
        val = val.split("±")[0] # A few of these stats have +/- ranges on them; we only want the main value, so split and get the first element.
        regex = r'([a-zA-Z\$,\%])*'
        val = re.sub(regex, "", val) # Strip out all the letters, dollar signs, commas, and percentage signs as well.
    
        name = stat.select_one('span[class="name"]').text.strip()
    
        if name in census_reporter_dict:
            row_dict[census_reporter_dict[name]] = val
    
    return row_dict

In [48]:
census_reporter_query = "https://censusreporter.org/profiles/05000US{}"

census_reporter_dict = ({"Median age": "median_age", 
                         "Median household income": "median_hh_income", 
                         "Persons below poverty line": "poverty_percent",
                         "High school grad or higher": "hs_percent"
                        })

cols = ['INCITS']
cols.extend(list(census_reporter_dict.values()))
census_reporter_df = pd.DataFrame(columns = cols)

mini_county_df = county_df.iloc[0:10]

for incit in mini_county_df['INCITS']:
    response = requests.get(census_reporter_query.format(incit))
    page = response.text
    soup = BeautifulSoup(page, "html5lib")
    census_reporter_df = census_reporter_df.append(get_stats_from_soup(incit, soup), ignore_index=True)

In [51]:
census_reporter_df

  INCITS median_age median_hh_income poverty_percent hs_percent
0  01001       37.8            53099            12.3       87.6
1  01003       42.4            56732            11.4       89.9
2  01005       38.7            33956            26.4       73.8
3  01007       40.2            39776            16.5       80.7
4  01009       40.8            46212            16.5         80
5  01011       39.2            29335            26.9       66.6
6  01013       40.6            34315            25.7       81.1
7  01015       39.1            41687            16.3       82.2
8  01017       43.1            36027            20.3       80.3
9  01019       45.7            38925            16.5       81.3

In [61]:
mini_county_df = county_df.iloc[0:10]

In [62]:
print(mini_county_df)
print(census_reporter_df)

  INCITS      county_name    state
0  01001   Autauga County  Alabama
1  01003   Baldwin County  Alabama
2  01005   Barbour County  Alabama
3  01007      Bibb County  Alabama
4  01009    Blount County  Alabama
5  01011   Bullock County  Alabama
6  01013    Butler County  Alabama
7  01015   Calhoun County  Alabama
8  01017  Chambers County  Alabama
9  01019  Cherokee County  Alabama
  INCITS median_age median_hh_income poverty_percent hs_percent
0  01001       37.8            53099            12.3       87.6
1  01003       42.4            56732            11.4       89.9
2  01005       38.7            33956            26.4       73.8
3  01007       40.2            39776            16.5       80.7
4  01009       40.8            46212            16.5         80
5  01011       39.2            29335            26.9       66.6
6  01013       40.6            34315            25.7       81.1
7  01015       39.1            41687            16.3       82.2
8  01017       43.1            36027            20.3       80.3
9  01019       45.7            38925            16.5       81.3

In [67]:
combo = pd.merge(mini_county_df, census_reporter_df, on="INCITS")

In [68]:
combo

,INCITS,county_name,state,median_age,median_hh_income,poverty_percent,hs_percent
0,01001,Autauga County,Alabama,37.8,53099,12.3,87.6
1,01003,Baldwin County,Alabama,42.4,56732,11.4,89.9
2,01005,Barbour County,Alabama,38.7,33956,26.4,73.8
3,01007,Bibb County,Alabama,40.2,39776,16.5,80.7
4,01009,Blount County,Alabama,40.8,46212,16.5,80
5,01011,Bullock County,Alabama,39.2,29335,26.9,66.6
6,01013,Butler County,Alabama,40.6,34315,25.7,81.1
7,01015,Calhoun County,Alabama,39.1,41687,16.3,82.2
8,01017,Chambers County,Alabama,43.1,36027,20.3,80.3
9,01019,Cherokee County,Alabama,45.7,38925,16.5,81.3

## Observed dependent variable

In order to get the data for the observed dependent variable, it will be necessary to use Selenium and chromedriver to get these tables from CDC Wonder.

In [205]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
import time

import os
chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

driver = webdriver.Chrome(chromedriver)

cdc_wonder_mcd = "https://wonder.cdc.gov/mcd-icd10.html"
driver.get(cdc_wonder_mcd)

In [206]:
agree_button = driver.find_element_by_name("action-I Agree")
agree_button.click()
time.sleep(2)

In [207]:
# Select group by option for results as county
select_group_results = Select(driver.find_element_by_id("SB_1"))
select_group_results.select_by_visible_text("County")

In [208]:
# Check box to get age-adjusted mortality rate
AAR_checkbox = driver.find_element_by_id("CO_aar_enable_label")
AAR_checkbox.click()

In [209]:
#dic = {"color": "blue purple", "name": "violet hyacinth", "species": "flower bush"}

#def search_dict_values(dic, search_for):
#    for key, value in dic.items():
#        if search_for in value:
#            return key

#search_dict_values(dic, "hyacinth")

In [210]:
# Select location. Sometimes it works if all the states are selected, but often the request times out.
# Will select Alabama first.
select_location = Select(driver.find_element_by_id("codes-D77.V9"))

location_dict = {}
for option in select_location.options:
    location_dict[option.get_attribute('value')] = option.text
    #print(option.text)
    #print(option.get_attribute('value'))

#print(location_dict)
location_value = search_dict_values(location_dict, "Alabama")
select_location.select_by_value(location_value)
select_location.deselect_by_value("*All*")

In [211]:
# Select year and month; pick 2016
select_year = Select(driver.find_element_by_id("codes-D77.V1"))
select_year.select_by_value("2016")
select_year.deselect_by_value("*All*")

In [212]:
# For underlying cause of death, click radio button for UCD - Drug/Alcohol Induced Causes
drug_alcohol_causes = driver.find_element_by_id("RO_ucdD77.V25")
drug_alcohol_causes.click()

In [213]:
# Now, select all drug induced causes of death.
select_drug_causes = Select(driver.find_element_by_id("codes-D77.V25"))

#for option in select_drug_causes.options:
#    print(option.text)
#    print(option.get_attribute('value'))

select_drug_causes.select_by_value("D")
select_drug_causes.deselect_by_value("*All*")

In [214]:
# Submit this request to the last send button on the page, so that all of the criteria are included.
send_button = driver.find_element_by_xpath("//div[@class='footer-buttons']/input")
#print(send_button.get_attribute('title'))
send_button.click()

In [215]:
time.sleep(10)

In [216]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [217]:
with open("alabama_table.txt", "w") as f:
    f.write(soup.text)

In [218]:
table = soup.select("tbody")
#len(table)
print(type(table))
print(table[4])
#rows = table.find_all("tr")
#for row in rows:
#    print(row.text)
#rows = table.select("th[class='v']")
#rows = table.select("tr:has(th)")
#for row in rows:
#    print(row)

<class 'list'>
<tbody><tr>
<td class="hd" colspan="1">
<div class="button2 oc-button oc-button-plus displayoff" id="oc-sect-open" onclick="openSection()" title="Click to open this section">+</div>
<div class="button2 oc-button oc-button-minus displayoff" id="oc-sect-close" onclick="closeSection()" title="Click to close this section">−</div>1. Table options:</td><td class="hd round-top-rt" colspan="1" nowrap=""><span><input class="button2" name="" onclick="optionsHide('Change Table')" title="Hide this options form" type="button" value="X"/></span><span class="help"><a class="tp-link-policy" href="/wonder/help/table_response.html#options" onclick="setfocus('WONDER_Help')" target="WONDER_Help" title="Click for help on this section of the table options form">Help<span class="print-only">(https://wonder.cdc.gov/wonder/help/table_response.html#options)</span></a></span><span><input class="button2" id="submit-button1" name="action-Change Table" onclick="submitSet(this)" title="Change results table using options in this form" type="submit" value="Change Table"/></span></td>
</tr>
<tr class="displayoff" id="oc-sect-note">
<td class="oc-note" colspan="2"><input id="oc-sect" name="O_oc-sect-results" type="hidden" value=""/></td>
</tr>
<tr class="firstrow">
<td class="firstcell lastcell" colspan="2" style="padding-bottom:15px"><span style="color:#000">Change any desired options and click the "Change Table" button.</span></td>
</tr>
<tr>
<td class="firstcell lastcell" colspan="2"><label for="TO_title">Title</label><input id="TO_title" maxlength="150" name="O_title" size="50" style="margin-left:10px; margin-right:50px" type="text" value=""/><label for="O_precision">
	Precision</label><select id="O_precision" name="O_precision" style="margin-left:4px">
<option value="0"> 0 </option>
<option selected="" value="1"> 1 </option>
<option value="2"> 2 </option>
<option value="3"> 3 </option>
<option value="4"> 4 </option>
<option value="5"> 5 </option>
<option value="6"> 6 </option>
<option value="7"> 7 </option>
<option value="8"> 8 </option>
<option value="9"> 9 </option></select></td>
</tr>
<tr>
<td class="firstcell lastcell" colspan="2"><label for="O_show_totals">
	Show Totals</label><input checked="" class="inline" id="O_show_totals" name="O_show_totals" onclick="groupsCurrentSortBySet();" type="checkbox" value="true"/><label for="O_show_zeros" style="margin-left:15px">
	Show Zeros</label><input class="inline" id="O_show_zeros" name="O_show_zeros" onclick="groupsCurrentSortBySet();" type="checkbox" value="true"/><label for="O_show_suppressed" style="margin-left:15px">
		Show Suppressed</label><input class="inline" id="O_show_suppressed" name="O_show_suppressed" type="checkbox" value="true"/><label for="O_show_rank" style="margin-left:15px">Show Row Numbers / Rank</label><input class="inline" id="O_show_rank" name="O_show_rank" type="checkbox" value="true"/></td>
</tr>
<tr>
<td class="firstcell lastcell" colspan="2"><label class="disabled" for="O_labels_opt">
	Show All Labels</label><input disabled="" id="O_labels_opt" name="O_labels_opt" style="margin-left:5px; margin-right:15px" type="checkbox" value="true"/><span class="disabled">
	(Displays every label on every row of the results table)</span><input name="O_labels_opt" type="hidden" value="disabled"/></td>
</tr>
<tr class="lastrow">
<td class="firstcell lastcell" colspan="2" style="padding-top: 12px">
<table>
<tbody><tr>
<td><label for="tsort">Sort By</label>
<div style="padding-top: 2px">
<select id="tsort" name="tsort" onchange="groupsCurrentSortBySet()" size="6">
<option selected="" value="byvar,BYVARIABLE">Group By variables</option>
<option value="D77.M1,MEASURE_ASCEND">(asc) Deaths</option>
<option value="D77.M1,MEASURE_DESCEND">(des) Deaths</option>
<option value="D77.M2,MEASURE_ASCEND">(asc) Population</option>
<option value="D77.M2,MEASURE_DESCEND">(des) Population</option>
<option value="D77.M3,MEASURE_ASCEND">(asc) Crude Rate</option>
<option value="D77.M3,MEASURE_DESCEND">(des) Crude Rate</option>
<option value="D77.M4,MEASURE_ASCEND">(asc) Age Adjusted Rate</option>
<option value="D77.M4,MEASURE_DESCEND">(des) Age Adjusted Rate</option></select>
</div>
</td><td style="padding-left:50px;">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td colspan="3" style="padding-bottom:2px !important; white-space: nowrap">Available Measures</td><td colspan="2" style="padding-bottom:2px !important; white-space: nowrap">Measures Shown</td>
</tr>
<tr>
<td style="padding-top:0 !important">
<div>
<select id="measures-all" multiple="" size="4">
<option selected="" value="D77.M1">Deaths</option>
<option value="D77.M2">Population</option>
<option value="D77.M3">Crude Rate</option>
<option value="D77.M4">Age Adjusted Rate</option></select>
</div>
</td><td style="padding: 0 10px 0 3px; vertical-align:middle"><a class="tp-link-policy" href="javascript:measuresShow()" title="Show selected measures"><img alt="Show selected measures" class="lr-arrow2 noprint" src="/images/arrow-blue-rt.gif"/></a></td><td style="padding: 0 3px 0 10px; vertical-align:middle"><a class="tp-link-policy" href="javascript:measuresHide()" title="Hide selected measures"><img alt="Hide selected measures" class="lr-arrow2 noprint" src="/images/arrow-blue-lf.gif"/></a></td><td style="padding-top:0 !important">
<div>
<select id="measures-show" multiple="" name="measures_show" size="4">
<option selected="" value="D77.M1">Deaths</option>
<option value="D77.M2">Population</option>
<option value="D77.M3">Crude Rate</option>
<option value="D77.M4">Age Adjusted Rate</option></select>
</div>
</td><td nowrap="" style="padding-left: 6px; vertical-align: middle"><a class="tp-link-policy" href="javascript:measuresSortUp()" title="Move selected measures up"><img alt="Move selected measures up" class="measure-updn noprint" src="/images/arrow-green-up.gif"/></a><a class="tp-link-policy" href="javascript:measuresSortDown()" title="Move selected measures down"><img alt="Move selected measures down" class="measure-updn noprint" src="/images/arrow-green-dn.gif"/></a></td><td class="normal" style="vertical-align:middle; padding-left:10px">
		Rearrange measures order with the up and down arrows.</td>
</tr>
<tr>
<td class="normal" colspan="6">
	Use the right and left arrows to move measures into and out of the "Measures Shown" box.
	</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td class="hd" colspan="1">
<div class="button2 oc-button oc-button-plus display-inline" id="oc-sect1-open" onclick="openSection(1)" title="Click to open this section">+</div>
<div class="button2 oc-button oc-button-minus displayoff" id="oc-sect1-close" onclick="closeSection(1)" title="Click to close this section">−</div>2. Results groups:</td><td class="hd" colspan="1" nowrap=""><span class="help"><a class="tp-link-policy" href="/wonder/help/table_response.html#groups" onclick="setfocus('WONDER_Help')" target="WONDER_Help" title="Click for help on this section of the table options form">Help<span class="print-only">(https://wonder.cdc.gov/wonder/help/table_response.html#groups)</span></a></span><span><input class="button2" name="action-Change Table" onclick="submitSet(this)" title="Change results table using options in this form" type="submit" value="Change Table"/></span></td>
</tr>
<tr class="displayon" id="oc-sect1-note">
<td class="oc-note" colspan="2">Open to organize rows into groups.<input id="oc-sect1" name="O_oc-sect1-results" type="hidden" value="close"/></td>
</tr>
<tr class="displayoff" id="oc-sect1-1">
<td class="firstcell lastcell" colspan="2" style="padding-top:15px !important; padding-bottom:15px">
<div>
	Check to divide results into groups
	<input id="O_groups" name="O_groups" type="checkbox" value="true"/>
<p></p>
<span class="normal" style="margin-left:20px">• Pick a numeric measure in the "Sort By" list above to use for the groups.</span>
<br/>
<span class="normal" style="margin-left:20px">• Use the "Show Totals" checkbox above to specify whether totals are included in the groups.</span>
<br/>
<span class="normal" style="margin-left:20px">• Then specify break points using one of these methods:</span>
</div>
<div style="padding:8px 0 0 20px">
<input checked="" id="RO_group_typegrp_std" name="O_group_type" onclick="toggleOptions('grp_std', 'grp_std,grp_custom',true)" type="radio" value="grp_std"/><label for="RO_group_typegrp_std" style="margin-right:30px"><b>Standard break points methods</b></label><input id="RO_group_typegrp_custom" name="O_group_type" onclick="toggleOptions('grp_custom', 'grp_std,grp_custom',true)" type="radio" value="grp_custom"/><label for="RO_group_typegrp_custom"><b>Specify custom break points</b></label>
</div>
</td>
</tr>
<tr class="displayoff" id="oc-sect1-2">
<td class="firstcell lastcell" colspan="2">
<div class="displayon" id="grp_std">
<label for="O_groups_count" style="padding:0 8px 0 20px">Number of groups</label><select id="O_groups_count" name="O_groups_count">
<option value="2"> Two </option>
<option value="3"> Three </option>
<option selected="" value="4"> Four </option>
<option value="5"> Five </option>
<option value="6"> Six </option>
<option value="7"> Seven </option>
<option value="8"> Eight </option>
<option value="9"> Nine </option>
<option value="10"> Ten </option></select><label for="O_groups_methods" style="padding:0 8px 0 35px">Breaks method</label><select id="O_groups_methods" name="O_groups_methods">
<option selected="" value="QUANTILE"> Quantile </option>
<option value="EQUAL"> Equal Interval </option></select>
</div>
<table cellpadding="0" cellspacing="0" class="displayoff" id="grp_custom">
<tbody><tr>
<td class="normal" colspan="2" style="padding-bottom:10px"><b>Custom Groups:</b>
<br/>Enter the value at which each group should start, up to 10 groups.
		<br/>Values must be between the Start and End values for the "Current Sort By selection".
	</td>
</tr>
<tr>
<td>
<table>
<tbody><tr>
<td style="padding-left:20px">
<table>
<tbody><tr>
<td> </td><td style="padding-left:6px">Start value</td>
</tr>
<tr>
<td><label class="disabled" for="group1">Group 1</label></td>
<td style="padding-left:6px"><input disabled="" id="group1" maxlength="15" name="group1" onchange="document.form.O_group_type[1].checked = true" size="10" style="background:#ddd" type="text" value="n/a"/></td>
</tr>
<tr>
<td><label for="group2">Group 2</label></td>
<td style="padding-left:6px"><input id="group2" maxlength="15" name="group2" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group3">Group 3</label></td>
<td style="padding-left:6px"><input id="group3" maxlength="15" name="group3" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group4">Group 4</label></td>
<td style="padding-left:6px"><input id="group4" maxlength="15" name="group4" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group5">Group 5</label></td>
<td style="padding-left:6px"><input id="group5" maxlength="15" name="group5" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
</tbody></table>
</td><td style="padding-left:40px; vertical-align:top;">
<table>
<tbody><tr>
<td> </td><td style="padding-left:6px">Start value</td>
</tr>
<tr>
<td><label for="group6">Group 6</label></td>
<td style="padding-left:6px"><input id="group6" maxlength="15" name="group6" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group7">Group 7</label></td>
<td style="padding-left:6px"><input id="group7" maxlength="15" name="group7" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group8">Group 8</label></td>
<td style="padding-left:6px"><input id="group8" maxlength="15" name="group8" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group9">Group 9</label></td>
<td style="padding-left:6px"><input id="group9" maxlength="15" name="group9" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
<tr>
<td><label for="group10">Group 10</label></td>
<td style="padding-left:6px"><input id="group10" maxlength="15" name="group10" onchange="document.form.O_group_type[1].checked = true" size="10" type="text" value=""/></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td><td style="padding-left:50px">
<div class="normal" style="padding:2px 0 2px 0">
<b>Current Sort By selection:</b>
</div>
<div class="displayon cur-measure" id="byvar_BYVARIABLE">
			Group By variables
			<div class="cur-measure-list">Sort by a numeric measure to set custom group breaks.</div>
</div>
<div class="displayoff cur-measure" id="D77.M1_MEASURE_ASCEND">Deaths (ascending)<div class="cur-measure-list">Start value: <span id="D77.M1_MEASURE_ASCENDS">1</span>
</div>
<div class="cur-measure-list">End value: <span id="D77.M1_MEASURE_ASCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M1_MEASURE_DESCEND">Deaths (descending)<div class="cur-measure-list">Start value:  <span id="D77.M1_MEASURE_DESCENDS">1</span>
</div>
<div class="cur-measure-list">End value:  <span id="D77.M1_MEASURE_DESCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M2_MEASURE_ASCEND">Population (ascending)<div class="cur-measure-list">Start value: <span id="D77.M2_MEASURE_ASCENDS">1</span>
</div>
<div class="cur-measure-list">End value: <span id="D77.M2_MEASURE_ASCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M2_MEASURE_DESCEND">Population (descending)<div class="cur-measure-list">Start value:  <span id="D77.M2_MEASURE_DESCENDS">1</span>
</div>
<div class="cur-measure-list">End value:  <span id="D77.M2_MEASURE_DESCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M3_MEASURE_ASCEND">Crude Rate (ascending)<div class="cur-measure-list">Start value: <span id="D77.M3_MEASURE_ASCENDS">1</span>
</div>
<div class="cur-measure-list">End value: <span id="D77.M3_MEASURE_ASCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M3_MEASURE_DESCEND">Crude Rate (descending)<div class="cur-measure-list">Start value:  <span id="D77.M3_MEASURE_DESCENDS">1</span>
</div>
<div class="cur-measure-list">End value:  <span id="D77.M3_MEASURE_DESCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M4_MEASURE_ASCEND">Age Adjusted Rate (ascending)<div class="cur-measure-list">Start value: <span id="D77.M4_MEASURE_ASCENDS">1</span>
</div>
<div class="cur-measure-list">End value: <span id="D77.M4_MEASURE_ASCENDE">1</span>
</div>
</div>
<div class="displayoff cur-measure" id="D77.M4_MEASURE_DESCEND">Age Adjusted Rate (descending)<div class="cur-measure-list">Start value:  <span id="D77.M4_MEASURE_DESCENDS">1</span>
</div>
<div class="cur-measure-list">End value:  <span id="D77.M4_MEASURE_DESCENDE">1</span>
</div>
</div>
<div style="padding-top: 18px">
<input class="button2" onclick="clearGroups()" style="font-size:90%; padding-bottom:2px" type="button" value="Clear Values"/>
</div>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr class="lastrow displayoff" id="oc-sect1-3">
<td class="firstcell lastcell" colspan="2" style="padding-top:12px"><span style="color:#000;">Options for non-numeric cells:</span>
<div style="margin: 6px 0 0 20px">
<input checked="" id="RO_show_flags_groupfalse" name="O_show_flags_group" type="radio" value="false"/><label for="RO_show_flags_groupfalse">
		Hide non-numeric cells</label>
<br/>
<input id="RO_show_flags_grouptrue" name="O_show_flags_group" type="radio" value="true"/><label for="RO_show_flags_grouptrue">
		Group non-numeric cells separately</label>
</div>
</td>
</tr>
</tbody>

In [234]:
table_string = str(table[0])
table_string_split = table_string.split("<tr>")
len(table_string_split)
#print(table_string)
#print(table[0])
rows = []
for x in table_string_split:
    if 'th class="v"' in x:
        rows.append(x)

print(rows[0])

<th class="v">Baldwin County, AL (01003)</th><td>34</td><td>208,563</td><td>16.3</td><td>15.7</td>
</tr>

In [237]:
a = rows[0].split("<td>")
a

['\n<th class="v">Baldwin County, AL (01003)</th>',
 '34</td>',
 '208,563</td>',
 '16.3</td>',
 '15.7</td>\n</tr>\n']

In [261]:
import re

regex = r'\<[^)]*\>'
whitespace = r'[\n\t,]*'
b = re.sub(regex, "", a[4])
b = re.sub(whitespace, "", b)
b
#re.sub(regex2, "", b)

'15.7'