# Project 2 Data sources:

## Observed dependent variable:
* Drug-induced mortality per county for 2016
* reach: opioid-induced mortality per county for 2016
* double-reach: opioid-induced mortality per county over 5 years, 2011 - 2016

## Independent variables/regressors:

### Medical:
* Age of electronic PDMP per state
* Number of methadone clinics per county
* Prescribing map -> rate of opioid prescriptions per 100 US residents

### Legislative:
* Number of bills per state that contain the word 'opioid'

### Economic:
* Poverty
* Percent unemployment
* Median salary

### Demographic:
* Median age
* Percentage minority
* Education - percentage high school grad or higher

Websites for data sources:
* https://wonder.cdc.gov/
* https://www.bls.gov/lau/data.htm
* https://censusreporter.org/

### Get list of counties

First, get a list of all of the counties along with their states and INCITS from this page: https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents

In [20]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import pickle
import time

from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents"
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, "html5lib")

In [3]:
table = soup.select_one('table[class*="wikitable"]')
rows = [row for row in table.find_all("tr")]

In [4]:
# Remove the first <tr> element, which is the header row for the wikitable.
rows = rows[1:]

county_df = pd.DataFrame(columns=['INCITS', 'county_name', 'state'])

for row in rows:
    elements = row.find_all("td")
    elements = [element.text.strip() for element in elements]
    county_df = county_df.append({'INCITS': elements[0], 'county_name': elements[1], 'state': elements[2]}, ignore_index=True)

In [5]:
county_df.head()

  INCITS     county_name    state
0  01001  Autauga County  Alabama
1  01003  Baldwin County  Alabama
2  01005  Barbour County  Alabama
3  01007     Bibb County  Alabama
4  01009   Blount County  Alabama

In [6]:
county_df['state'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawai ªi',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'U.S. Minor Outlying Islands', 'Utah', 'Vermont',
       'Virgin Islands (U.S.)', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [7]:
# There are 'states' included that are not actually states. Let's make a list of them.
not_states = ['American Samoa', 'Guam', 'Northern Mariana Islands', 'Puerto Rico', 'U.S. Minor Outlying Islands', 'Virgin Islands (U.S.)']

In [8]:
# Now, let's remove all of the entries for these 'not states' from the data frame.
county_df = county_df[~county_df.state.isin(not_states)]

In [47]:
# Confirm that there are only states and the District of Columbia left.
states = county_df['state'].unique()
states[11] = "Hawai'i"

In [48]:
# save county dataframe to pickle.
with open("county_df.pkl", "wb") as picklefile:
    pickle.dump([county_df, states], picklefile)

In [31]:
county_df[county_df.INCITS == "02270"]
# Per google, Kusilvak Census area changed its INCITS to 02158 in 2015.
# Will need to change this manually; wikipedia was out of date.

   INCITS               county_name   state
92  02270  Kusilvak Census Area[10]  Alaska

In [45]:
row = county_df.loc[county_df.INCITS == "02270"]
county_df.at[row.index[0], 'INCITS']

'02270'

In [46]:
# Correct this field manually.
county_df.at[row.index[0], 'INCITS'] = "02158"
county_df.at[row.index[0], 'INCITS']

'02158'

### Economic and Demograhic data

Let's scraping economic and demographic data from census reporter; this website provides data at a state and county level based on the ACS (American Communities Survey) 2016 5-year data, which is provided by the US Census.

The more in-depth way to do this would be to figure out how to use the US Census API to get the 6 variables I specified, because with the US Census API you can fully specify what dataset to query and what parameters to return, but as an intermediate step I'm going to scrape CensusReporter.com first since those pages easier to access and scrape.

In [12]:
# For the census reporter page, each county page is structured so that the stats are located in spans with either the class value or name.

def get_stats_from_soup(incit, soup):
    row_dict = {'INCITS': incit}
    stats = soup.select('a[class*=stat]')
    for stat in stats:
        val = stat.select_one('span[class="value"]').text
        whitespace = r'[\s\t\n]*'
        val = re.sub(whitespace, "", val) # There's a lot of weird whitespace in the class=value element, so strip all of it out.
    
        val = val.split("¬±")[0] # A few of these stats have +/- ranges on them; we only want the main value, so split and get the first element.
        regex = r'([a-zA-Z\$,\%])*'
        val = re.sub(regex, "", val) # Strip out all the letters, dollar signs, commas, and percentage signs as well.
    
        name = stat.select_one('span[class="name"]').text.strip()
    
        if name in census_reporter_dict:
            row_dict[census_reporter_dict[name]] = val
    
    return row_dict

In [18]:
census_reporter_dict = ({"Median age": "median_age", 
                         "Median household income": "median_hh_income", 
                         "Persons below poverty line": "poverty_percent",
                         "High school grad or higher": "hs_percent"
                        })

cols = ['INCITS']
cols.extend(list(census_reporter_dict.values()))
census_reporter_df = pd.DataFrame(columns = cols)

In [29]:
%%time
census_reporter_query = "https://censusreporter.org/profiles/05000US{}"

mini_county_df = county_df.iloc[0:100]

for incit in mini_county_df['INCITS']:
    response = requests.get(census_reporter_query.format(incit))
    page = response.text
    soup = BeautifulSoup(page, "html5lib")
    census_reporter_df = census_reporter_df.append(get_stats_from_soup(incit, soup), ignore_index=True)
    time.sleep(1)

CPU times: user 15.8 s, sys: 1.47 s, total: 17.3 s
Wall time: 4min 57s

In [30]:
census_reporter_df.iloc[90:]

    INCITS median_age median_hh_income poverty_percent hs_percent
90   01001       37.8            53099            12.3       87.6
91   01003       42.4            56732            11.4       89.9
92   01005       38.7            33956            26.4       73.8
93   01007       40.2            39776            16.5       80.7
94   01009       40.8            46212            16.5         80
95   01011       39.2            29335            26.9       66.6
96   01013       40.6            34315            25.7       81.1
97   01015       39.1            41687            16.3       82.2
98   01017       43.1            36027            20.3       80.3
99   01019       45.7            38925            16.5       81.3
100  01001       37.8            53099            12.3       87.6
101  01003       42.4            56732            11.4       89.9
102  01005       38.7            33956            26.4       73.8
103  01007       40.2            39776            16.5       80.7
104  01009       40.8            46212            16.5         80
105  01011       39.2            29335            26.9       66.6
106  01013       40.6            34315            25.7       81.1
107  01015       39.1            41687            16.3       82.2
108  01017       43.1            36027            20.3       80.3
109  01019       45.7            38925            16.5       81.3
110  01001       37.8            53099            12.3       87.6
111  01003       42.4            56732            11.4       89.9
112  01005       38.7            33956            26.4       73.8
113  01007       40.2            39776            16.5       80.7
114  01009       40.8            46212            16.5         80
115  01011       39.2            29335            26.9       66.6
116  01013       40.6            34315            25.7       81.1
117  01015       39.1            41687            16.3       82.2
118  01017       43.1            36027            20.3       80.3
119  01019       45.7            38925            16.5       81.3
..     ...        ...              ...             ...        ...
180  02050       26.8            53296            26.6       80.9
181  02060       40.7            88000             7.3       92.6
182  02068       37.3            81302            11.3       96.2
183  02070       29.7            56055            16.5       86.8
184  02090       30.6            77328             9.9       95.8
185  02100       44.6            53125             5.3       95.5
186  02105       48.4            54091            12.4       90.6
187  02110       37.5            87436             7.4       95.6
188  02122       40.5            64891              11       92.7
189  02130       39.2            64162            10.8         92
190  02150       32.7            73068             9.2       90.7
191  02164       31.9            43864            18.8       86.4
192  02170       34.2            69332             9.7       94.2
193  02180       27.7            51563              27       84.9
194  02185       33.8            72027            11.2       88.4
195  02188       26.3            61341            24.5       79.1
196  02195       40.8            63940             9.3       92.4
197  02198       40.5            51887            14.9       90.5
198  02220       39.1            70160             9.1       92.7
199  02230       44.1            64853             5.3       96.5
200  02240       36.4            63713            13.6       90.8
201  02261       37.6            82511             8.5       92.8
202  02270        NaN              NaN             NaN        NaN
203  02275       48.8            52986              10       88.1
204  02282       40.5            66875             7.9       94.5
205  02290       35.2            38451            23.5       82.9
206  04001       34.6            34685            33.4       81.6
207  04003       40.8            45508            22.6       86.6
208  04005       30.9            55091              18       89.6
209  04007       48.9            40593            21.2       84.3

[120 rows x 5 columns]

In [11]:
# Let's pull the relevant parameters for Barbour County.
# For economic parameters, I want % poverty, % unemployment, and median salary.
# For demographics, I want median age, percentage minority, and education (percentage high school grad)
# We can go ahead and print all of the stats within any element that belongs to a class w/ the word 'stat'.
    
stats = soup.select('a[class*="stat"]')
for stat in stats:
    val = stat.select_one('span[class="value"]').text
    whitespace = r'[\s\t\n]*'
    val = re.sub(whitespace, "", val) # There's a lot of weird whitespace in the class=value element, so strip all of it out.
    
    name = stat.select_one('span[class="name"]').text.strip()
    
    print("{} is {}".format(name, val))
    
    val2 = val.split("¬±")[0]
    regex = r'([a-zA-Z\$,\%])*'
    print(re.sub(regex, "", val2))

Median age is 38.7¬±0.6
38.7
Per capita income is $17,249¬±$822
17249
Median household income is $33,956¬±$2,655
33956
Persons below poverty line is 26.4%¬±2.7%(6,235¬±636)
26.4
Mean travel time to work is 23.7minutes¬±1.7(205,890¬±17,933)
23.7
Number of households is 9,122¬±286
9122
Persons per household is 2.6¬±0.1(23,682¬±244)
2.6
Women 15-50 who gave birth during past year is 5%¬±1.8%(252¬±92)
5
Number of housing units is 11,802¬±101
11802
Median value of owner-occupied housing units is $90,300¬±$7,258
90300
Moved since previous year is 12.4%¬±1.4%(3,262¬±373.4)
12.4
High school grad or higher is 73.8%¬±3.1%(13,563¬±573.2)
73.8
Bachelor's degree or higher is 12.9%¬±1.5%(2,366¬±270.8)
12.9
Persons with language other than English spoken at home is N/A
/
Foreign-born population is 2.9%¬±0.3%(761¬±82)
2.9
Population with veteran status is 8.4%¬±0.8%(1,751¬±173)
8.4
Total veterans is 1,751
1751

In [32]:
def get_stats_from_soup(incit, soup):
    row_dict = {'INCITS': incit}
    stats = soup.select('a[class*=stat]')
    for stat in stats:
        val = stat.select_one('span[class="value"]').text
        whitespace = r'[\s\t\n]*'
        val = re.sub(whitespace, "", val) # There's a lot of weird whitespace in the class=value element, so strip all of it out.
    
        val = val.split("¬±")[0] # A few of these stats have +/- ranges on them; we only want the main value, so split and get the first element.
        regex = r'([a-zA-Z\$,\%])*'
        val = re.sub(regex, "", val) # Strip out all the letters, dollar signs, commas, and percentage signs as well.
    
        name = stat.select_one('span[class="name"]').text.strip()
    
        if name in census_reporter_dict:
            row_dict[census_reporter_dict[name]] = val
    
    return row_dict

In [48]:
census_reporter_query = "https://censusreporter.org/profiles/05000US{}"

census_reporter_dict = ({"Median age": "median_age", 
                         "Median household income": "median_hh_income", 
                         "Persons below poverty line": "poverty_percent",
                         "High school grad or higher": "hs_percent"
                        })

cols = ['INCITS']
cols.extend(list(census_reporter_dict.values()))
census_reporter_df = pd.DataFrame(columns = cols)

mini_county_df = county_df.iloc[0:10]

for incit in mini_county_df['INCITS']:
    response = requests.get(census_reporter_query.format(incit))
    page = response.text
    soup = BeautifulSoup(page, "html5lib")
    census_reporter_df = census_reporter_df.append(get_stats_from_soup(incit, soup), ignore_index=True)

In [51]:
census_reporter_df

  INCITS median_age median_hh_income poverty_percent hs_percent
0  01001       37.8            53099            12.3       87.6
1  01003       42.4            56732            11.4       89.9
2  01005       38.7            33956            26.4       73.8
3  01007       40.2            39776            16.5       80.7
4  01009       40.8            46212            16.5         80
5  01011       39.2            29335            26.9       66.6
6  01013       40.6            34315            25.7       81.1
7  01015       39.1            41687            16.3       82.2
8  01017       43.1            36027            20.3       80.3
9  01019       45.7            38925            16.5       81.3

In [61]:
mini_county_df = county_df.iloc[0:10]

In [62]:
print(mini_county_df)
print(census_reporter_df)

  INCITS      county_name    state
0  01001   Autauga County  Alabama
1  01003   Baldwin County  Alabama
2  01005   Barbour County  Alabama
3  01007      Bibb County  Alabama
4  01009    Blount County  Alabama
5  01011   Bullock County  Alabama
6  01013    Butler County  Alabama
7  01015   Calhoun County  Alabama
8  01017  Chambers County  Alabama
9  01019  Cherokee County  Alabama
  INCITS median_age median_hh_income poverty_percent hs_percent
0  01001       37.8            53099            12.3       87.6
1  01003       42.4            56732            11.4       89.9
2  01005       38.7            33956            26.4       73.8
3  01007       40.2            39776            16.5       80.7
4  01009       40.8            46212            16.5         80
5  01011       39.2            29335            26.9       66.6
6  01013       40.6            34315            25.7       81.1
7  01015       39.1            41687            16.3       82.2
8  01017       43.1            36027            20.3       80.3
9  01019       45.7            38925            16.5       81.3

In [67]:
combo = pd.merge(mini_county_df, census_reporter_df, on="INCITS")

In [68]:
combo

,INCITS,county_name,state,median_age,median_hh_income,poverty_percent,hs_percent
0,01001,Autauga County,Alabama,37.8,53099,12.3,87.6
1,01003,Baldwin County,Alabama,42.4,56732,11.4,89.9
2,01005,Barbour County,Alabama,38.7,33956,26.4,73.8
3,01007,Bibb County,Alabama,40.2,39776,16.5,80.7
4,01009,Blount County,Alabama,40.8,46212,16.5,80
5,01011,Bullock County,Alabama,39.2,29335,26.9,66.6
6,01013,Butler County,Alabama,40.6,34315,25.7,81.1
7,01015,Calhoun County,Alabama,39.1,41687,16.3,82.2
8,01017,Chambers County,Alabama,43.1,36027,20.3,80.3
9,01019,Cherokee County,Alabama,45.7,38925,16.5,81.3

In [53]:
county_df[county_df.INCITS == "02280"]

Empty DataFrame
Columns: [INCITS, county_name, state]
Index: []

## Observed dependent variable

In order to get the data for the observed dependent variable, it will be necessary to use Selenium and chromedriver to get these tables from CDC Wonder.

In [87]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
import time

import os
chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

driver = webdriver.Chrome(chromedriver)

cdc_wonder_mcd = "https://wonder.cdc.gov/mcd-icd10.html"
driver.get(cdc_wonder_mcd)

In [88]:
agree_button = driver.find_element_by_name("action-I Agree")
agree_button.click()
time.sleep(2)

In [89]:
# Select group by option for results as county
select_group_results = Select(driver.find_element_by_id("SB_1"))
select_group_results.select_by_visible_text("County")

In [90]:
# Check box to get age-adjusted mortality rate
AAR_checkbox = driver.find_element_by_id("CO_aar_enable_label")
AAR_checkbox.click()

In [91]:
#dic = {"color": "blue purple", "name": "violet hyacinth", "species": "flower bush"}

#def search_dict_values(dic, search_for):
#    for key, value in dic.items():
#        if search_for in value:
#            return key

#search_dict_values(dic, "hyacinth")

In [92]:
# Select location. Sometimes it works if all the states are selected, but often the request times out.
# Will select Alabama first.
select_location = Select(driver.find_element_by_id("codes-D77.V9"))

location_dict = {}
for option in select_location.options:
    location_dict[option.get_attribute('value')] = option.text
    #print(option.text)
    #print(option.get_attribute('value'))

def search_dict_values(dic, search_for):
    for key, value in dic.items():
        if search_for in value:
            return key

#print(location_dict)
location_value = search_dict_values(location_dict, "Alabama")
select_location.select_by_value(location_value)
select_location.deselect_by_value("*All*")

In [93]:
# Select year and month; pick 2016
select_year = Select(driver.find_element_by_id("codes-D77.V1"))
select_year.select_by_value("2016")
select_year.deselect_by_value("*All*")

In [94]:
# For underlying cause of death, click radio button for UCD - Drug/Alcohol Induced Causes
drug_alcohol_causes = driver.find_element_by_id("RO_ucdD77.V25")
drug_alcohol_causes.click()

In [95]:
# Now, select all drug induced causes of death.
select_drug_causes = Select(driver.find_element_by_id("codes-D77.V25"))

#for option in select_drug_causes.options:
#    print(option.text)
#    print(option.get_attribute('value'))

select_drug_causes.select_by_value("D")
select_drug_causes.deselect_by_value("*All*")

In [96]:
# Submit this request to the last send button on the page, so that all of the criteria are included.
send_button = driver.find_element_by_xpath("//div[@class='footer-buttons']/input")
#print(send_button.get_attribute('title'))
send_button.click()

In [97]:
# It takes time for CDC wonder to answer the query and display the results page.
time.sleep(10)

In [70]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

table = soup.select("tbody")
table_string = str(table[0])
table_string_split = table_string.split("<tr>")

rows = []

for table_row in table_string_split:
    if 'th class="v"' in table_row:
        rows.append(table_row)

In [71]:
rows

['\n<th class="v">Baldwin County, AL (01003)</th><td>34</td><td>208,563</td><td>16.3</td><td>15.7</td>\n</tr>\n',
 '\n<th class="v">Blount County, AL (01009)</th><td>15</td><td>57,704</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Calhoun County, AL (01015)</th><td>16</td><td>114,611</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Cullman County, AL (01043)</th><td>20</td><td>82,471</td><td>24.3</td><td>26.4</td>\n</tr>\n',
 '\n<th class="v">DeKalb County, AL (01049)</th><td>19</td><td>70,900</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Escambia County, AL (01053)</th><td>11</td><td>37,728</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Etowah County, AL (01055)</th><td>18</td><td>102,564</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Jefferson County, AL (01073)</th><td>256</td><td>659,521</td><td>38.8</td><td>38.2</td>\n</tr>\n',
 '\n<th class="v">Lauderdale County, AL (01077)</th><td>13</td><td>92,318</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Lee County, AL (01081)</th><td>11</td><td>158,991</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Madison County, AL (01089)</th><td>64</td><td>356,967</td><td>17.9</td><td>18.1</td>\n</tr>\n',
 '\n<th class="v">Marshall County, AL (01095)</th><td>14</td><td>95,157</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Mobile County, AL (01097)</th><td>68</td><td>414,836</td><td>16.4</td><td>16.4</td>\n</tr>\n',
 '\n<th class="v">Montgomery County, AL (01101)</th><td>16</td><td>226,349</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Morgan County, AL (01103)</th><td>13</td><td>119,012</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">St. Clair County, AL (01115)</th><td>29</td><td>88,019</td><td>32.9</td><td>35.1</td>\n</tr>\n',
 '\n<th class="v">Shelby County, AL (01117)</th><td>46</td><td>210,622</td><td>21.8</td><td>23.5</td>\n</tr>\n',
 '\n<th class="v">Tallapoosa County, AL (01123)</th><td>10</td><td>40,727</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n',
 '\n<th class="v">Tuscaloosa County, AL (01125)</th><td>33</td><td>206,102</td><td>16.0</td><td>18.2</td>\n</tr>\n',
 '\n<th class="v">Walker County, AL (01127)</th><td>13</td><td>64,967</td><td>Unreliable</td><td>Unreliable</td>\n</tr>\n']

In [76]:
split_rows = [row.split("<td>") for row in rows]

In [84]:
regex = r'(\<.*?\>)|([\n\t,]*)'

for index, row in enumerate(split_rows):
    split_rows[index] = [re.sub(regex, "", cell) for cell in row]

In [85]:
split_rows

[['Baldwin County AL (01003)', '34', '208563', '16.3', '15.7'],
 ['Blount County AL (01009)', '15', '57704', 'Unreliable', 'Unreliable'],
 ['Calhoun County AL (01015)', '16', '114611', 'Unreliable', 'Unreliable'],
 ['Cullman County AL (01043)', '20', '82471', '24.3', '26.4'],
 ['DeKalb County AL (01049)', '19', '70900', 'Unreliable', 'Unreliable'],
 ['Escambia County AL (01053)', '11', '37728', 'Unreliable', 'Unreliable'],
 ['Etowah County AL (01055)', '18', '102564', 'Unreliable', 'Unreliable'],
 ['Jefferson County AL (01073)', '256', '659521', '38.8', '38.2'],
 ['Lauderdale County AL (01077)', '13', '92318', 'Unreliable', 'Unreliable'],
 ['Lee County AL (01081)', '11', '158991', 'Unreliable', 'Unreliable'],
 ['Madison County AL (01089)', '64', '356967', '17.9', '18.1'],
 ['Marshall County AL (01095)', '14', '95157', 'Unreliable', 'Unreliable'],
 ['Mobile County AL (01097)', '68', '414836', '16.4', '16.4'],
 ['Montgomery County AL (01101)', '16', '226349', 'Unreliable', 'Unreliable'],
 ['Morgan County AL (01103)', '13', '119012', 'Unreliable', 'Unreliable'],
 ['St. Clair County AL (01115)', '29', '88019', '32.9', '35.1'],
 ['Shelby County AL (01117)', '46', '210622', '21.8', '23.5'],
 ['Tallapoosa County AL (01123)', '10', '40727', 'Unreliable', 'Unreliable'],
 ['Tuscaloosa County AL (01125)', '33', '206102', '16.0', '18.2'],
 ['Walker County AL (01127)', '13', '64967', 'Unreliable', 'Unreliable']]

In [98]:
request_tab = driver.find_element_by_name("tab-request")
request_tab.click()

In [100]:
select_location = Select(driver.find_element_by_id("codes-D77.V9"))

location_value = search_dict_values(location_dict, "Delaware")
select_location.select_by_value(location_value)

In [101]:
# Submit this request to the last send button on the page, so that all of the criteria are included.
send_button = driver.find_element_by_xpath("//div[@class='footer-buttons']/input")
#print(send_button.get_attribute('title'))
send_button.click()

In [102]:
driver.close()